version: '3.8'

services:
  app:
    ports:
      - "8080:8080"
    build:
      context: ./src
      dockerfile: ./Dockerfile-dev
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./src:/app

  postgres:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/db
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - .env
